{% extends 'base.html' %}
{% block title %}Create an Article{% endblock %}
{% block content %}
<div class="padeLander">
    <form method="post">
        <div class="layer">
            <input placeholder="Product 1" name="product1">
            <input placeholder="Product 2" name="product2">
        </div>
        <div class="layer">
            <input placeholder="Affiliate 1" name="affiliate1">
            <input placeholder="Affiliate 2" name="affiliate2">
        </div>
        <div class="layer">
            <textarea placeholder="Extra Info for LLM" name="extra"></textarea>
        </div>
        <div class="layer">
            <button type="submit">Generate</button>
        </div>
    </form>
</div>
{% endblock %}