{% extends 'base.html' %}
{% block title %}Create an Article{% endblock %}
{% block content %}
<div class="padeLander">
    <form method="post">
        <div class="layer">
            <input placeholder="Product 1">
            <input placeholder="Product 2">
        </div>
        <div class="layer">
            <input placeholder="Affiliate 1">
            <input placeholder="Affiliate 2">
        </div>
        <div class="layer">
            <textarea placeholder="Extra Info for LLM"></textarea>
        </div>
    </form>
</div>
{% endblock %}