{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='home.js')}}" type="module"></script>
{% endblock %}
{% block content %}
<div class="page-lander">
    <div class="pane-layout fw fh">
        <div class="intro-container">
            <div class="vertical-layer animate right">
                <div class="heading animate up">
                    <h2>Read and discover</h2>
                </div>
                <div class="bodytext">
                    <h2>The Most Honest Reviews</h2>
                </div>
            </div>
        </div>
        <div class="intro-container animate up">
            <div class="dynamic-svg-image-container">
                <svg class="dynamic-svg-image background" viewBox="-300 -300 600 600" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0, 0)">
                        <path id="fancy-svg-bg" d="M152.4 -214C195.8 -178.2 228.2 -131.4 243.1 -80.2C258.1 -29 255.5 26.6 239.2 78C222.9 129.5 192.9 176.8 150.7 212.1C108.5 247.4 54.3 270.7 -1.6 272.9C-57.4 275 -114.8 256 -159.5 221.6C-204.2 187.1 -236.2 137.1 -249.1 84.1C-262 31.1 -255.8 -25 -238.5 -77.2C-221.1 -129.3 -192.5 -177.5 -150.9 -214C-109.3 -250.5 -54.7 -275.2 -0.1 -275.1C54.5 -275 108.9 -249.9 152.4 -214" fill="#ffffff"></path>
                    </g>
                </svg>
                <img class="dynamic-svg-image symbol" src="{{ url_for('static', filename='images/status_icon.png') }}" alt="Status Icon" id="st-ico">
                <svg class="dynamic-svg-image secondary" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><g transform="translate(285.31432282698563 306.0907392849774)"><path id="fancy-svg-fg" d="M162.7 -222C207.9 -191.2 239.5 -139.6 252.7 -85.3C266 -31 260.9 26.1 242.1 77C223.3 128 190.7 172.8 148 202.7C105.4 232.6 52.7 247.5 -0.2 247.8C-53.1 248.1 -106.2 233.7 -152.3 204.9C-198.4 176.1 -237.6 133 -256.1 81.9C-274.5 30.7 -272.3 -28.5 -252.2 -79.3C-232 -130 -193.9 -172.2 -148.9 -203.1C-103.8 -233.9 -51.9 -253.5 3.4 -258.2C58.8 -262.9 117.6 -252.8 162.7 -222" fill="#cdcdcd"></path></g></svg>
            </div>
        </div>
    </div>
</div>
{% endblock %}