:root{
    --large-font-size: 2.5rem;
    --medium-font-size: 1.75rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 0.95rem;    /* tags, hints, etc */ 
    --cool-blue: rgba(31,117,254,0.5);
    --black: black;
    --metal-grey:rgb(170, 170, 170);
    --concrete-grey: rgba(126,126,116,0.8);
    --light-grey: #d9d9d9;
    --grey: #a6a6a6;
    --darker-grey: #73737373;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

body{
    padding-top: 70px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1.5;
    overflow-x: hidden;
}
.main-page{
    background: grey;
}
svg{
    /* Ensures SVGs have a shadow */
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
}
.page-lander{
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.layer{
    display: flex;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.layer.c{
    justify-content: center;
    align-items: center;
}
.layer.r{
    justify-content: right;
}
.layer.d{
    justify-content: left;
}
.vertical-layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.sp .layer{
    margin: 15px;
}
.sp .vertical-layer{
    margin: 15px;
}
.dynamic-svg-image-container{
    margin: 2em 0px 2em 0px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(128px,20vw,2048px);
    min-height: 64px;
    overflow: visible;
}
/*IIRC, targets all direct children*/
.dynamic-svg-image-container > *{
    position: absolute;
    width: clamp(128px,20vw,2048px);
    height: clamp(128px,20vw,2048px);
    
    overflow: visible;
}
.dynamic-svg-image.secondary{
    z-index: 1;
    animation: bobble-chaotic-b 89s ease-in-out 0s infinite normal forwards;
}
.dynamic-svg-image.background{
    z-index: 2;
    animation: bobble-chaotic 100s ease-in-out 0s infinite normal forwards;
}
.dynamic-svg-image.symbol{
    z-index: 3;
    animation: bobble-b 8s ease-in-out 0s infinite normal forwards;
}
#status-box{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Medium */
    font-size: var(--large-font-size);
}
.invert-color input{
    color: white;
}
input{
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
    padding: 5px 0px;
    outline: none;
    font-size: var(--medium-font-size);
    /* transition: 600ms ease-in-out; */
}
input:autofill{
    background: transparent;
    color: red;
}
input[type="text"].limited{
    line-height: var(--medium-font-size);
    background-color: transparent;
    width: 10ch;
    max-width: 50ch;
    margin: 0px 20px 20px;
}
input::placeholder{
    font-size:var(--medium-font-size);
    color: var(--grey);
    /* transition: 600ms ease-in-out; */
}
/* input:focus::placeholder{
    font-size:var(--small-font-size);
} */
textarea.single-line-1{

}
textarea.multiline-1{
    resize: none;
    padding: 10px 15px;
    margin: 0px 20px 20px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;
    height: 2em;
    line-height: 2.25em;
    font-size: var(--medium-font-size);
    transition: 600ms ease-in-out;
    outline: none;
    overflow: hidden;
}
textarea.multiline-1::placeholder{
    line-height: 2em;
    transition: 600ms ease-in-out;
}
textarea.multiline-1:focus{
    line-height: 1em;
    height: 5em;
    overflow: auto;
}
textarea.multiline-1:focus::placeholder{
    line-height: 1em;
}
.search{
    flex-grow: 1;
    max-width: 2000px;
    display: flex;
    align-items: center;
    align-self: center;
    /* width: 60%; */
    height: fit-content;
    border-radius: 26px;
    background-color: black;
    padding: 0px 15px;
    z-index: 10;
}
textarea.search-bar{
    box-sizing: content-box;
    flex-grow: 1;
    padding: 15px 15px 15px 0px;
    line-height: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    resize: none;
    font-size: var(--small-font-size);
    height: 1em;
    align-self: center;
}
textarea.search-bar::placeholder{
    color: white;
}
.real-search{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 5px 15px;
    border: 1px solid red;
    width: 100%;
    transition: 300ms ease-in;
    /* justify-content: center; */
    height: 70px;
    background: var(--light-grey);
}
.real-search textarea{
    border: none;
    resize: none;
    outline: none;
    field-sizing: content;
    min-height: 45px;
    background: transparent;
    padding: 15px 15px 0px;
    color: white;
    flex-grow: 1;
    transition: flex-grow 0.6s ease-out;
    z-index: 11;
}
.real-search textarea::placeholder{
    color:white;
}
.mini-icon{
    flex-shrink: 0;
    height: 2em;
    width: 2em;
}
.tiny-icon{
    flex-shrink: 0;
    height: 1em;
    width: 1em;
}
.down{
    transform: translateY(150%);
}
.fh{
    height: 100vh;
}
.fw{
    width: 100%;
}
.c{
    align-items: center;
}
.pane-layout {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
}
.pane-layout > * {
  flex: 1;
  min-width: 0; /* prevent overflow */
}
nav.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px 50px;
    height: 70px;
    width: 100%;
    background-color: var(--light-grey);
    align-items: center;
    z-index: 10;
}
nav .logo{
    flex-shrink: 1;
    margin-right: clamp(20px,5%,50px);
}
nav .logo a{
    text-decoration: none;
    color: black;
    font-size: var(--large-font-size);
}
nav .links{
    display: flex;
    align-items: center;
    margin-left: clamp(20px,5%,50px);
    margin-right: auto;
}
nav .links a{
    text-decoration: none;
    color: black;
    font-size: var(--normal-font-size);
    margin: 0px 10px 0px 10px;
}
nav .main{
    display: flex;
    flex-grow: 1;
}
.hamburger-bars{
    /* border: 1px solid red; */
    display: none;
    padding: 5px;
    flex-direction: column;
    gap: 20px;
}
.hamburger-bars > *{
    width: 50px;
    height: 2px;
    background: black;
    border-radius: 2px;
    margin: 10px;
}
.burger-menu {
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: stretch;
    background: var(--light-grey);
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 10;
    padding: 5px;
    max-width: 300px;
    height: 100%;
    max-height: calc(100vh - 70px);
    transform: translateX(-30px);
}
.burger-menu.visible{
    display: flex;
    animation: fadeSlideRight 0.3s 100ms ease forwards;
}
.close{
    display: flex;
    justify-content: center;
    color: red;
    width: fit-content;
    font-size: var(--medium-font-size);
    padding: 0px 10px;
}
.burger-menu .close {
    align-self: flex-end; /* positions it to the right inside flex parent */
    cursor: pointer;
}
.icon-action{
    padding: 15px;
}
.icon-action .text{
    margin-left: 10px;
}
.icon-action img{
    height: 38px;
    width: 38px;
}
.icon-action h3{
    font-weight: 500;
    font-size: var(--normal-font-size);
}
.icon-action p{
    font-weight: 100;
    font-size: var(--small-font-size);
}
.burger-menu .subheading{
    padding: 5px;
}
.burger-menu .links{
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.burger-menu .links > *::after {
    content: '→';
    display: inline-block;
    margin-left: 5px;
    transition: transform 300ms ease-in;
}
.burger-menu .links > *:hover::after {
    transform: translateX(20px);
}
.burger-menu .spacer{
    margin: auto;
    flex-grow: 1;
    width: 60%;
    border-top: 1px solid var(--concrete-grey);
    height: max-content;
    border-bottom: 1px solid var(--concrete-grey);
}
/*TODO: add textarea.big*/
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-radius: 24px; */
    border-left: 2px solid var(--darker-grey);
    background: transparent;
    padding: 15px 30px;
    text-align: left;
    /* box-shadow: 2px 2px 20px var(--darker-grey); */
}
.editable{
    outline: none;
    border-radius: 0.75em;
    margin: 5px 5px 0px;
    padding: 10px;
    line-height: 1.5em;
}
.intro-container{
    padding: 15px 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.heading{
    font-size: var(--large-font-size);
    font-weight: 700;
    color: inherit;
    font-family: 'Inter',sans-serif;
}
.bodytext{
    font-size: var(--normal-font-size);
    font-family: 'Inter',sans-serif;
    font-weight: 500;
}
.article-heading{
    font-size: var(--large-font-size);
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--metal-grey);
    border-radius: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 900; /* Black */
}
/* form > *{
    margin-top: 5%;
    margin-bottom: 5%;
} */
form .article-heading h2{
    margin: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: var(--large-font-size);
}
form h3{
    font-size: var(--medium-font-size);
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
form .article-heading{
    border: none;
    text-align: left;
}
form button[type="submit"]{
    font-size: var(--medium-font-size);
    padding: 20px 32px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    color: white;
    font-weight: 500;
    text-align: center;
    align-items: center;
}
button.primary-action {
    font-size: var(--medium-font-size);
    padding: 18px 30px;
    border-radius: 24px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: transform 300ms ease, background-color 0.3s ease, color 0.3s ease;
}
button.primary-action:hover {
    transform: scale(1.04);
    background-color: black;
    color: white;
}
select {
  background: transparent;
  border: none;
  font-size: var(--medium-font-size);
  color: inherit;
  padding: 0.25em 0.5em;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}
option{
    background-color: transparent;
}
.article-container{
    background-color: white;
    margin: auto;
    margin-top: 2em;
    max-width: 1000px;
    align-self: center;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tags-container{
    display: flex;
    flex-wrap: wrap;
}
.editable.tags-container{
    margin-bottom: 15px;
    background: rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 0.75em;
}
p.tag{
    position: relative;
    color: grey;
    overflow: hidden;
    padding-left: 2ch;
    align-content: center;
    align-items: center;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-weight: 100; /* Light */
}
p.editable.tag{
    color: white;
    background-color: grey;
    font-size: var(--normal-font-size);
    font-weight: 300; /* Medium */
}
p.tag::before{
    content: '#';
    color: blue;
    position: absolute;
    top: 50%;
    left: 5px;
    line-height: 0px;
    font-size: var(--normal-font-size);
}
p.tag.editable::before{
    content: '×';
    font-size: var(--medium-font-size);
}
.article-subheading{
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: var(--large-font-size);
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Bold */
}
.section{
    text-align:left;
}
.content .article-bodytext{
    width:95%;
    margin: 10px;
    border: none;
    /* border-left: 1px solid var(--metal-grey); */
    border-radius: 0;
    font-size: var(--normal-font-size);
    font-family: 'Inter', sans-serif;
    font-weight: 300; /* Medium */
}
.admin {
    color: white;
}
.admin input, 
.admin textarea,
.admin p,
.admin h1, 
.admin h2, 
.admin h3 {
    color: white;
}
.admin{
    /* background: linear-gradient(90deg, #000, #0e0e0e, var(--darker-grey)); */
}
.admin input{
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
}
.admin textarea{
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
}
.animate{
    opacity: 0;
    transition: opacity 600ms ease-out, transform 300ms ease-out;
}
.animate.up {
    transform: translateY(30px);
}
.animate.up.visible {
    animation: fadeSlideUp 0.6s ease forwards;
}
.animate.right {
    transform: translateX(-30px);
}
.animate.right.visible{
    animation: fadeSlideRight 0.6s ease forwards;
}
.animate.grow.visible{
    animation: growFullWidth 0.6s ease-out forwards;
}
.article-container, 
.article-container * {
    color: black;
}
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tl{
    text-align: left;
}
.flash-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 1rem;
}

.flash {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.flash-success {
  background-color: #2ecc71;
}

.flash-danger {
  background-color: #e74c3c;
}

.flash-warning {
  background-color: #f39c12;
}

.flash-info {
  background-color: #3498db;
}
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeSlideRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes growFullWidth {
  0% {
    width: 0%;
  }
  80% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}
/*Rotates the background svg and slightly back and forth, sizes up, down, repeat (1x size -> 1.2x -> 1x)*/
@keyframes bobble-a {
    0%   { transform: rotate(0deg) scale(1.1); }
    25%  { transform: rotate(5deg) scale(1.25); }
    50%  { transform: rotate(-4deg) scale(1.1); }
    75%  { transform: rotate(3deg) scale(1.2); }
    100% { transform: rotate(0deg) scale(1.1); }
}
@keyframes bobble-b {
    0%   { transform: rotate(0deg) scale(1.07); }
    25%  { transform: rotate(2deg) scale(1.17); }
    50%  { transform: rotate(-2deg) scale(1.09); }
    75%  { transform: rotate(3deg) scale(1.16); }
    100% { transform: rotate(0deg) scale(1.07); }
}
@keyframes bobble-chaotic {
    0%    { transform: rotate(0deg) scale(1); }
    5%    { transform: rotate(35deg) scale(1.1); }
    12%   { transform: rotate(-60deg) scale(1.2); }
    19%   { transform: rotate(20deg) scale(1.05); }
    27%   { transform: rotate(-90deg) scale(1.3); }
    35%   { transform: rotate(180deg) scale(1); }
    44%   { transform: rotate(-150deg) scale(1.15); }
    53%   { transform: rotate(200deg) scale(1.2); }
    62%   { transform: rotate(-220deg) scale(0.95); }
    70%   { transform: rotate(300deg) scale(1.1); }
    78%   { transform: rotate(-360deg) scale(1.2); }
    87%   { transform: rotate(90deg) scale(1.05); }
    95%   { transform: rotate(-45deg) scale(1.15); }
    100%  { transform: rotate(0deg) scale(1); }
}
@keyframes bobble-chaotic-b {
    0%    { transform: rotate(0deg) scale(1); }
    4%    { transform: rotate(-70deg) scale(1.18); }
    10%   { transform: rotate(160deg) scale(1.12); }
    18%   { transform: rotate(-190deg) scale(1.2); }
    27%   { transform: rotate(270deg) scale(1); }
    36%   { transform: rotate(-330deg) scale(1.15); }
    45%   { transform: rotate(90deg) scale(1.1); }
    54%   { transform: rotate(-120deg) scale(0.98); }
    63%   { transform: rotate(220deg) scale(1.3); }
    72%   { transform: rotate(-290deg) scale(1.05); }
    81%   { transform: rotate(45deg) scale(1.15); }
    90%   { transform: rotate(-15deg) scale(1.05); }
    100%  { transform: rotate(0deg) scale(1); }
}

/* @media (max-width:2000px) {
    .article-container{
        width: 80%;
        margin: auto;
    }
} */

@media (max-width: 1200px){
    nav .links{
        margin-right: clamp(20px,5%,50px);
        margin-left: auto;
    }
}

@media (max-width:1080px){
    p.tag{
        font-size: var(--small-font-size);
        line-height: var(--small-font-size);
        height: var(--small-font-size);
    }
    p.tag::before{
        font-size: var(--normal-font-size);
        line-height: 0;
    }
    .article-container{
        width: 100%;
    }
}

@media (max-width: 880px) {
    form{
        display: block;
        margin: auto;
        border: none;
        text-align: center;
    }
    form .article-heading{
        text-align: center;
    }
    .pane-layout {
        flex-direction: column;
    }
    .layer.d{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 780px){
    .search{
        max-width: none;
        flex-grow: 0;
        width: fit-content;
        padding: 10px;
    }
    .hamburger-bars{
        display: block;
    }
    textarea.search-bar{
        display: none;
    }
    nav .links{
        display: none;
    }
    nav .main{
        justify-content: flex-end;
    }
    nav .logo{
        margin-right: 0px;
    }
    nav .logo a{
        font-size: var(--medium-font-size);
    }
}